<%
# Copyright (c) 2012-2013 Cardiff University, UK.
# Copyright (c) 2012-2013 The University of Manchester, UK.
#
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# * Redistributions of source code must retain the above copyright notice,
#   this list of conditions and the following disclaimer.
#
# * Redistributions in binary form must reproduce the above copyright notice,
#   this list of conditions and the following disclaimer in the documentation
#   and/or other materials provided with the distribution.
#
# * Neither the names of The University of Manchester nor Cardiff University nor
#   the names of its contributors may be used to endorse or promote products
#   derived from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
# ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.
#
# Authors
#     Abraham Nieva de la Hidalga
#
# Synopsis
#
# BioVeL Taverna Lite is a prototype interface to Taverna Server which is
# provided to support easy inspection and execution of workflows.
#
# For more details see http://www.biovel.eu
#
# BioVeL is funded by the European Commission 7th Framework Programme (FP7),
# through the grant agreement number 283359.
%>
<div id="component_details" >
  <% if @processors.count > 0 %>
    <p id="feedback">
      <span id="select-result">Select a component to view its description</span>
    </p>
    <dl class="wf_snip">
      <dt>
        Processor Name:
      </dt>
      <dd>
      </dd>
    </dl>
    <dl class="wf_snip">
      <dt>Type:
      </dt>
      <dd>Component
      </dd>
    </dl>
    <dl class="wf_snip">
      <dt>Version
      </dt>
      <dd>2
      </dd>
    </dl>
    <dl class="wf_snip">
      <dt>myExperiment
      </dt>
      <dd>2255
      </dd>
    </dl>
    <dl class="wf_snip">
      <dt> Family:
      </dt>
      <dd>POPMOD
      </dd>
    </dl>
    <dl class="wf_snip">
      <dt>Description:
      </dt>
      <dd>Uses R
      </dd>
    </dl>
    <dl class="wf_snip">
      <dt>Authors:
      </dt>
      <dd>Jon, Maria, Gerard
      </dd>
    </dl>
    <dl class="wf_snip">
      <dt>References:
      </dt>
      <dd>CRAN
      </dd>
    </dl>
    <dl class="wf_snip">
      <dt>Highlights:
      </dt>
      <dd>Uses R to parse
      </dd>
    </dl>
    <dl class="wf_snip">
      <dt>Sponsors:
      </dt>
      <dd>UC, UVA, BioVeL
      </dd>
    </dl>
  <% end %>
</div>
