/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.componenticon{
  width:auto;
  height:48px;
}
.componentoutput{border: 1px solid hsla(80, 90%, 40%, 0.7);
                 padding: 2px;width:40%;
                 float:left;}
.componentinput{  border: 1px solid hsla(80, 90%, 40%, 0.7);
                  padding: 2px;
                  width:40%;
                   }

#feedback { font-size: 1.4em; }
#selectable .ui-selecting { background: #4074FE; }
#selectable .ui-selected { background: #146FF3; color: white; }
#selectable { list-style-type: none; margin: 0; padding: 0; }
#selectable li { margin: 2px; padding: 0.4em; height: 60px;
  -moz-border-radius: 8px;-webkit-border-radius: 8px;border-radius: 8px;
  border: solid 1px #3300CC;}

#replaceable .ui-selecting { background: #4074FE; }
#replaceable .ui-selected { background: #146FF3; color: white; }
#replaceable { list-style-type: none; margin: 0; padding: 0; }
#replaceable li { margin: 2px; padding: 0.4em;  height: 140px;
  -moz-border-radius: 8px;-webkit-border-radius: 8px;border-radius: 8px;
  border: solid 1px #3300CC;}
.desc_div {float: left;text-align: center;width:80%}


.edit_components { min-height:300px; height:auto !important; height:300px;}
#component_list { float: left; width: 24%; }
#component_details { float: left; width: 46%;  border: solid 1px #3300CC;
  -moz-border-radius: 16px;-webkit-border-radius: 16px;border-radius: 16px;
  border: solid 1px #3300CC; padding: 0.4em;}
#component_operations {float: left; width: 24%; margin: 1px; padding: 1px; }
dl.list_any, dt.list_title, dd.list_description,dt.list_title_chk, dd.list_description_chk  {
 padding:0;
  margin:0
}

dl.list_any {
 width:100%;
 overflow:hidden;
}
dt.list_title  {
 font-weight: bold;
 font-size: 12px;
 float:left;
 width:20%; /* adjust the width; make sure the total of both is 100% */
}
dd.list_description  {
 font-size: 12px;
 float:left;
 width:80%; /* adjust the width; make sure the total of both is 100% */
}
dt.list_title_chk  {
 text-align: right;
 font-size: 12px;
 float:left;
 width:20%; /* adjust the width; make sure the total of both is 100% */
}
dd.list_description_chk  {
 font-weight: bold;
 font-size: 12px;
 float:left;
 width:80%; /* adjust the width; make sure the total of both is 100% */
}
.port_details {
  float: left;
  width: 100%;
  background: transparent;
  border: solid 1px #999;
  padding: 0px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  position: relative;
  margin-top: 5px;
  margin-bottom: 10px;
}
span.more_options {font-weight: bold;font-size: 12px;padding: 2px;}
