<p id="notice"><%= notice %></p>

<p>
  <b>Cnf clause:</b>
  <%= @feature_constraint.cnf_clause %>
</p>


<%= link_to 'Edit', edit_feature_constraint_path(@feature_constraint) %> |
<%= link_to 'Back', feature_constraints_path %>
